html {
  height: 100%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background: rgb(19,77,113);
   background: linear-gradient(180deg, rgba(19,77,113,1) 15%, rgba(49,103,138,1) 30%, rgba(102,151,183,1) 50%, rgba(171,188,180,1) 79%, rgba(228,218,178,1) 100%);;
  }

body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #ffffff;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  color: #ffffff;
  margin: 12px;
  padding-top: 50px;
}

h4 {
  margin: 12px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.meditation-image {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
  object-fit: cover;
  align-content: center;
}

.title {
  padding-top: 20px;
}

.hidden {
  display: none;
}

#button-box {
  display: none;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 26em;
  margin-right: 26em;
  margin-bottom: 100px;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 5px
}

.clear-message {
  display: none;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  margin-top: 20px;
  border-color: #ffffff;
  border-radius: 5px;
  border: 0px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #134D71;
}

#query-text {
  display: none;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #134D71;
}

#receive-message {
  display: none;
  background-color: #134D71;
  height: 30px;
  border-radius: 5px;
  border: 2px;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
}

#message-load-box {
  display: none;
  padding: 15px;
  padding-top: 35px;
  margin-top: 0px;
  margin-left: 15em;
  margin-right: 15em;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 5px
}

  /* COLORS
  light-yellow - #f7e4bf;
  light-blue - #78a7c6;
  dark-blue - #134d71;
  white - #ffffff;
  black - #000000; */
