html {
  height: 100%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background: rgb(19,77,113);
   background: linear-gradient(180deg, rgba(19,77,113,1) 15%, rgba(49,103,138,1) 30%, rgba(102,151,183,1) 50%, rgba(171,188,180,1) 79%, rgba(228,218,178,1) 100%);;
  }

body {
  font-family: 'Quicksand', sans-serif;
}

h1, h4 {
  color: #ffffff;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  color: #ffffff;
  margin: 12px;
  padding-top: 50px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h8 {
  margin-right: 6em;
}

img {
  display: hidden;
  width: 100px;
  height: 100px;
  object-fit: cover;
  align-content: center;
}

.title {
  padding-top: 20px;
}

.hidden {
  display: none;
  margin-top: 50px;
  margin-bottom: 75px;
}


.button-box {
  /* margin-top: 5px; */
  margin-left: 28em;
  margin-right: 28em;
  margin-bottom: 100px;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 5px
}

.fade-in-message {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  padding-bottom: 10px;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

.clear-message {
  display: none;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  margin-top: 10px;
  border-color: #ffffff;
  border-radius: 5px;
  border: 0px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #134D71;
}

.message-selection {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #134D71;
}

.receive-message {
    background-color: #134D71;
    height: 30px;
    border-radius: 5px;
    border: 2px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.message-load-box {
  padding: 15px;
  padding-top: 35px;
  margin-top: 0px;
  margin-left: 15em;
  margin-right: 15em;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 5px
}


  /* COLORS
  light-yellow - #f7e4bf;
  light-blue - #78a7c6;
  dark-blue - #134d71;
  white - #ffffff;
  black - #000000; */
